body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: #333;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  opacity: 0.8;
  visibility: visible;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;

  width: 400px;
  height: 300px;
  background-color: #fff;
}

.container {
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
}

.r_item {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 75px;

  box-sizing: border-box;
  /*width: 33.3333%;*/
  height: 150px;
  background: rgba(255, 213, 70, 0.4);
  border: 2px dashed rgba(236, 198, 48, 0.5);

  cursor: pointer;
}

.r_item:hover {
  background-color: aqua;
}

.row {
  width: 500px;
}

.end-text {
  background-color: #fff;
}
